[submodule "04-react/jour6/deliveroo-backend"]
	path = 04-react/deliveroo-backend
	url = git@github.com:JConan/lereacteur-exo-react_deliveroo-backend.git
[submodule "04-react/jour6/deliveroo-frontend"]
	path = 04-react/deliveroo-frontend
	url = git@github.com:JConan/lereacteur-exo-react_deliveroo-frontend.git
[submodule "04-react/vinted-frontend"]
	path = 04-react/vinted-frontend
	url = git@github.com:JConan/lereacteur-exo-react_vinted-frontend.git
[submodule "04-react/marvel/backend"]
	path = 04-react/marvel/backend
	url = git@github.com:JConan/lereacteur-exo-react_marvel-backend.git
